{% extends "inscrever/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Login</h2>

    {% if form.errors %}
        <div class="alert alert-danger">
            Usuário ou senha inválidos.
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_username" class="form-label">Usuário</label>
            {{ form.username }}
        </div>

        <div class="mb-3">
            <label for="id_password" class="form-label">Senha</label>
            {{ form.password }}
        </div>

        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
</div>

{% endblock %}
